In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [5]:
race_count = df['race'].value_counts()
print("Number of each race:\n", race_count)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print("Average age of men:", average_age_men)

Average age of men: 39.43354749885268

In [7]:
total = df['education'].count()
total

32561

In [8]:
percentage_bachelors = ((df[df['education'] == 'Bachelors']['education'].count()) / (df['education'].count())) * 100
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")

Percentage with Bachelors degrees: 16.44605509658794%

In [19]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
filt_high = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education']  == 'Doctorate')
higher_education = (df[filt_high]['education'].count() / (df['education'].count())) * 100
print(higher_education)

23.006050182733944

In [21]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
filt_low = (df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education']  != 'Doctorate') 
lower_education = (df[filt_low]['education'].count() / (df['education'].count())) * 100
print(lower_education)

76.99394981726606

In [11]:
print(23.006050182733944 + 76.99394981726606)

100.0

In [18]:
print(df[filt_high]['education'].count())
print(df[filt_low]['education'].count())
print(df['education'].count())
print(7491 + 25070)

# percentage with salary >50K
filt_rich_high_educ = ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education']  == 'Doctorate')) & (df['salary'] == '>50K')
higher_education_rich = (df[filt_rich_high_educ]['salary'].count() / df[filt_high]['education'].count()) * 100
print(higher_education_rich)
#print(df[filt_high_salary]['salary'].count())
filt_rich_low_educ = ((df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education']  != 'Doctorate')) & (df['salary'] == '>50K')
lower_education_rich = (df[filt_rich_low_educ]['salary'].count() / df[filt_low]['education'].count()) * 100
print(lower_education_rich)

7491
25070
32561
32561
46.535843011613935
17.3713601914639

In [27]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df['hours-per-week'].min()

99

In [30]:
filt_min_hours_week = df['hours-per-week'] == 1
num_min_workers = df[filt_min_hours_week]['hours-per-week'].count()
print(num_min_workers) # 20
filt_min_hours_week_rich = (df['hours-per-week'] == 1) & (df['salary'] == '>50K')
print(df[filt_min_hours_week_rich]['salary'].count())
rich_percentage = (df[filt_min_hours_week_rich]['salary'].count() /  num_min_workers) * 100
rich_percentage

20
2

10.0

In [76]:
# What country has the highest percentage of people that earn >50K?
filt_high_salary_coutry = df[df['salary'] == '>50K']['native-country'].value_counts()
filt_high_salary_coutry.index[0]
print(filt_high_salary_coutry)
print(filt_high_salary_coutry.index[0])
print(filt_high_salary_coutry[0])
filt_people_rich = df['salary'] == '>50K'
print(df[count_people_rich]['salary'].count())
highest_earning_country_percentage = (filt_high_salary_coutry[0] / df[filt_people_rich]['salary'].count())*100
print(highest_earning_country_percentage)

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
France                  12
Poland                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Laos                     2
Trinadad&Tobago          2
Dominican-Republic       2
Nicaragua                2
Columbia                 2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64
United-States
7171
7841
91.45517153424308

In [73]:
# Identify the most popular occupation for those who earn >50K in India.
filt_country_high_salary = (df['native-country'] == 'India') & (df['salary'] == '>50K')
#df[filt_country_high_salary]['occupation'].value_counts()
top_IN_occupation = (df[filt_country_high_salary]['occupation'].value_counts()).index[0]
top_IN_occupation

'Prof-specialty'

In [124]:
highest_earning_country = (df.loc[df["salary"] == ">50K","native-country"].value_counts() / df["native-country"].value_counts()).fillna(0).sort_values(ascending=False).index[0]

In [125]:
highest_earning_country_percentage = round(len(df[(df["native-country"] == highest_earning_country) & (df["salary"] == ">50K")]) / len(df[df["native-country"] == highest_earning_country]) * 100, 1)

In [126]:
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

In [132]:
highest_earning_country = (df.loc[df["salary"] == ">50K","native-country"].value_counts() / df["native-country"].value_counts()).sort_values(ascending=False).index[0]
highest_earning_country

'Iran'